.AuthForm {
  padding: 1rem;

  input[type='email'],
  input[type='text'],
  input[type='password'] {
    border: none;
    border-bottom: 1px solid black;
  }
  input {
    margin: 1rem;
  }
}
